<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Faux Column CSS Layouts - 2 Column - faux-7-2-col</title>
<link rel="stylesheet" type="text/css" href="main.css" />
</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		 
		       This is the Header		 
			   
		 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Navigation -->
         <div id="navigation">
		 
		       This is the Navigation		 
			   
		 </div>
		 <!-- End Navigation -->
		 
         <!-- Begin Faux Columns -->
		 <div id="faux">
		 
		       <!-- Begin Left Column -->
		       <div id="leftcolumn">
		 
		             
		 
		       </div>
		       <!-- End Left Column -->
		 
		       <!-- Begin Right Column -->
		       <div id="rightcolumn">
		       
	                 <a href="#">Download this CSS Layout</a>
					 
					 <br /><br />
					 
					 <h1>Faux Column CSS Layouts</h1>	 
					 
				     <p>
					 
					       These 2 Column Faux CSS Layouts use a background image to make it look like the 
						   left and right columns are equal in height and independent of each other.
						   
						   <br />
						   <br />
						   
						   Things couldn't be further from the truth. I created a parent column called faux
						   and vertically tiled the image, that contained both the left and right child columns. 
						   I then vertically tiled the faux background image and viola. 
						   
						   <br />
						   <br />
						   
					       I first found about this method from the <a href="http://www.alistapart.com">
				           alistapart site</a> by a guy called <a href="http://simplebits.com/">Dan Cederholm</a>				   
						   
					  </p>
		       
			   <div class="clear"></div>
			   
		       </div>
		       <!-- End Right Column -->
			   
			   <div class="clear"></div>
			   
         </div>	   
         <!-- End Faux Columns --> 

         <!-- Begin Footer -->
         <div id="footer">
		       
               This is the Footer		

         </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
</body>
</html>
