@CHARSET "UTF-8";

p, pre, h1, h2, h3 {
	
	margin-top: 10px;
	margin-bottom: 5px;
	
}

table.crudlist {
    border-collapse: collapse;


}  

.crudlist TR {

}

.crudlist TD, .crudlist TH {
   border: 1px solid black;
   padding: 3px;
}

